 {% extends 'html_base.html' %}
 
 {% block content %}
   
    {% include 'nav.html' %}
        <div class="container">
            <div class = "form-styling">
             
                    <h1>Input Foods you've eaten!</h1>
                    <form action="/" method ="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ foods_form }}
                        <button type="submit">Add</button>
                    </form>
             
            </div>
            
        </div>
        
 {% endblock %}